@media screen and (min-width: 1080px){

    .hero-div{
        
        background-image: url("./assets/hero-image-2.jpg");
        background-size: cover;
        height: 100vh;
    }

    .hero-div-2{
        background-image: url("./assets/hero-2-2.jpg");
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero-div-3{
        background-image: url("./assets/hero-3-1.jpg");
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .products-1{
        background-image: url("./assets/products-1.png");
        /* background-size: cover; */
        /* height: 100vh; */
        background-repeat: no-repeat;
        background-position: center;
    }

    .products-2{
        background-image: url("./assets/products-2.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .products-3{
        background-image: url("./assets/products-3.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .products-4{
        background-image: url("./assets/products-4.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    
}

@media screen and (max-width: 1079px){

    .products-1{
        background-image: url("./assets/products-1.png");
        /* background-size:auto; */
        /* height: 100vh; */
        background-repeat: no-repeat;
        background-size: contain;
        
    }

    .products-2{
        background-image: url("./assets/products-2.jpg");
        background-repeat: no-repeat;
        background-size: contain;

    }

    .products-3{
        background-image: url("./assets/products-3.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .products-4{
        background-image: url("./assets/products-4.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

}